In [1]:
import numpy as np 
import pandas as pd
import os
from dataloader import *

In [2]:
tmp = dataloader(r'../data/')

[LOADER] Found 1 Directories

In [3]:
tmp.runPipeline()

In [4]:
tmp.gps_df

,Time,Fix,NumSat,Latitude,Longitude,Altitude,Track,Speed
0,1326030975805702,3,0,0.738157,-1.461010,265.8,0.0,0.005
1,1326030976015264,2,0,0.738157,-1.461010,NaN,0.0,0.000
2,1326030976125380,3,0,0.738157,-1.461010,265.8,0.0,0.000
3,1326030976206016,2,0,0.738157,-1.461010,NaN,0.0,0.005
4,1326030976325625,3,0,0.738157,-1.461010,265.8,0.0,0.005
...,...,...,...,...,...,...,...,...
46441,1326036511656509,2,0,0.738155,-1.461007,NaN,102.8,0.129
46442,1326036511856001,2,0,0.738155,-1.461007,NaN,102.8,0.129
46443,1326036512015801,2,0,0.738155,-1.461007,NaN,102.8,0.129
46444,1326036512216451,2,0,0.738155,-1.461007,NaN,102.8,0.129
46445,1326036512216664,2,0,0.738155,-1.461007,NaN,102.8,0.129

In [16]:
tmp.gps_df.Fix.value_counts()

2    24405
3    22041
Name: Fix, dtype: int64

In [12]:
tmp.gps_df[tmp.gps_df.Fix != 1]

,Time,Fix,NumSat,Latitude,Longitude,Altitude,Track,Speed
0,1326030975805702,3,0,0.738157,-1.461010,265.8,0.0,0.005
1,1326030976015264,2,0,0.738157,-1.461010,NaN,0.0,0.000
2,1326030976125380,3,0,0.738157,-1.461010,265.8,0.0,0.000
3,1326030976206016,2,0,0.738157,-1.461010,NaN,0.0,0.005
4,1326030976325625,3,0,0.738157,-1.461010,265.8,0.0,0.005
...,...,...,...,...,...,...,...,...
46441,1326036511656509,2,0,0.738155,-1.461007,NaN,102.8,0.129
46442,1326036511856001,2,0,0.738155,-1.461007,NaN,102.8,0.129
46443,1326036512015801,2,0,0.738155,-1.461007,NaN,102.8,0.129
46444,1326036512216451,2,0,0.738155,-1.461007,NaN,102.8,0.129
46445,1326036512216664,2,0,0.738155,-1.461007,NaN,102.8,0.129

In [13]:
len(tmp.gps_df[tmp.gps_df.Fix == 2])/len(tmp.gps_df)

0.5254489084097662

In [25]:
tmp.gps_df[tmp.gps_df.Fix == 3].Time.diff().describe()

count    2.204000e+04
mean     2.497927e+05
std      1.953917e+06
min      5.752200e+04
25%      1.993820e+05
50%      2.001840e+05
75%      2.026088e+05
max      2.032087e+08
Name: Time, dtype: float64

In [27]:
tmp.gps_df[tmp.gps_df.Fix == 3].Time.diff()/1e6

0             NaN
2        0.319678
4        0.200245
6        0.200836
8        0.209043
           ...
46129    0.200211
46131    0.190016
46133    0.200298
46135    0.200287
46137    0.200250
Name: Time, Length: 22041, dtype: float64

In [9]:
tmp.gps_df.drop(['NumSat'], axis = 1, )

                   Time  Fix  Latitude  Longitude  Altitude  Track  Speed
0      1326030975805702    3  0.738157  -1.461010     265.8    0.0  0.005
1      1326030976015264    2  0.738157  -1.461010       NaN    0.0  0.000
2      1326030976125380    3  0.738157  -1.461010     265.8    0.0  0.000
3      1326030976206016    2  0.738157  -1.461010       NaN    0.0  0.005
4      1326030976325625    3  0.738157  -1.461010     265.8    0.0  0.005
...                 ...  ...       ...        ...       ...    ...    ...
46441  1326036511656509    2  0.738155  -1.461007       NaN  102.8  0.129
46442  1326036511856001    2  0.738155  -1.461007       NaN  102.8  0.129
46443  1326036512015801    2  0.738155  -1.461007       NaN  102.8  0.129
46444  1326036512216451    2  0.738155  -1.461007       NaN  102.8  0.129
46445  1326036512216664    2  0.738155  -1.461007       NaN  102.8  0.129

[46446 rows x 7 columns]

In [10]:
tmp.gps_df

,Time,Fix,NumSat,Latitude,Longitude,Altitude,Track,Speed
0,1326030975805702,3,0,0.738157,-1.461010,265.8,0.0,0.005
1,1326030976015264,2,0,0.738157,-1.461010,NaN,0.0,0.000
2,1326030976125380,3,0,0.738157,-1.461010,265.8,0.0,0.000
3,1326030976206016,2,0,0.738157,-1.461010,NaN,0.0,0.005
4,1326030976325625,3,0,0.738157,-1.461010,265.8,0.0,0.005
...,...,...,...,...,...,...,...,...
46441,1326036511656509,2,0,0.738155,-1.461007,NaN,102.8,0.129
46442,1326036511856001,2,0,0.738155,-1.461007,NaN,102.8,0.129
46443,1326036512015801,2,0,0.738155,-1.461007,NaN,102.8,0.129
46444,1326036512216451,2,0,0.738155,-1.461007,NaN,102.8,0.129
46445,1326036512216664,2,0,0.738155,-1.461007,NaN,102.8,0.129